# Ignora la cartella dei micro-benchmarks
/osu-micro-benchmarks-7.5.1/

/u/dssc/rlamberti/HPC-project/ex2/ex_a/bcast/build

/u/dssc/rlamberti/HPC-project/ex2/ex_a/bcast/scaling-*.out

/u/dssc/rlamberti/HPC-project/ex2/ex_a/bcast/scaling-*.err

/home/robertalamberti/HPC-project/ex1/.venv

/home/robertalamberti/HPC-project/.venv
